:root {
  --branding-color: #b492ff;
  --secondary-color: #f9f7fe;
  --other-color: #272142bf;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 770px) {
  h1 {
    font-size: 46px !important;
  }

  h3 {
    font-size: 26px !important;
  }

  img {
    display: none;
  }

  .hero {
    padding-top: 80px !important;
  }
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  color: black;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h3 {
  font-size: 36px;
  margin: 0;
  color: var(--other-color);
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px 50px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  box-shadow: 0 0 4px var(--other-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--other-color);
  box-shadow: 0 0 8px var(--other-color);
}

.container h2 {
  text-align: center !important;
  font-size: 52px;
}

.container p {
  text-align: justify;
  color: var(--other-color);
}

.primary-link {
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1.5px solid var(--branding-color);
  box-shadow: 0 0 4px var(--other-color);
  color: var(--branding-color);
}

.primary-link:hover {
  color: var(--other-color);
  box-shadow: 0 0 8px var(--other-color);
}
