:root {
  --branding-color: #b592ff;
  --secondary-color: #f5f1ff;
  --other-color: #272142d3;
  --heading-font-family: "Aboreto", cursive;
  --default-font-family: "Satisfy", cursive;
  --paragraph-font-family: "Varta", sans-serif;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px !important;
  }

  h3 {
    font-size: 34px !important;
  }
  footer p {
    font-size: 12px !important;
  }

  a.special {
    margin: 10px !important;
    padding: 10px 14px !important;
    font-size: 13px !important;
  }

  .hero {
    padding-top: 80px !important;
  }

  .hero h2 {
    font-size: 14px !important;
  }

  .hero p {
    font-size: 16px !important;
  }

  .content h1 {
    font-size: 30px !important;
    line-height: 1 !important;
  }

  .container h2 {
    font-size: 20px !important;
  }

  h2.certificate.m-5 {
    font-size: 24px !important;
  }

  .contact-section a {
    font-size: 18px !important;
  }

  .contact-section h3 {
    font-size: 18px !important;
  }

  p.m-3 {
    font-size: 10px !important;
  }

  .content p {
    font-size: 16px !important;
  }

  .container p {
    font-size: 16px !important;
  }
}

body {
  font-family: var(--default-font-family) !important;
}

h1 {
  font-size: 62px;
  color: black;
  margin: 0;
  text-align: center;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h3 {
  font-size: 48px;
  text-align: center;
  color: var(--other-color);
}

img {
  border-radius: 8px;
  box-shadow: 0 0 10px var(--other-color);
}

footer {
  margin-top: 10px;
}

footer h3 {
  font-size: 32px;
}

footer .contacts {
  margin: 0;
  padding: 40px;
  color: var(--branding-color);
  background: var(--secondary-color);
}

h2.m-5 {
  font-size: 34px !important;
  text-shadow: 0 0 2px var(--other-color);
}

a.special {
  margin: 20px;
  padding: 14px 20px;
  font-size: 20px;
  background: white;
  border-radius: 50%;
  color: var(--branding-color);
  transition: all 200ms ease-in-out;
}

a.special:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}

p a {
  color: var(--branding-color);
  text-decoration: none;
}

p a:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 4px var(--other-color);
}

.bg-light {
  opacity: 90%;
}

.navbar-brand,
.nav-link {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px 50px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.hero p {
  font-size: 24px;
  font-family: var(--heading-font-family);
  text-shadow: 0 0 2px var(--other-color);
}

.btn-branding {
  background: var(--branding-color) !important;
  box-shadow: 0 0 4px var(--other-color);
  border-radius: 4px;
  color: var(--secondary-color) !important;
  font-size: 18px;
  line-height: 27px;
  padding: 8px 20px;
}

.btn-branding:hover {
  color: var(--other-color) !important;
  box-shadow: 0 0 8px var(--other-color);
}

.projects .container {
  margin-top: 100px;
}

.container h2 {
  text-align: center !important;
  font-size: 38px;
  text-shadow: 0 0 2px var(--other-color);
  color: var(--branding-color);
}

.container p,
.paragraph {
  text-align: justify;
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  background-color: var(--secondary-color) !important;
  padding: 20px;
  border-radius: 8px;
  line-height: 1.3;
}

.primary-link {
  border-radius: 4px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1.5px solid var(--branding-color);
  box-shadow: 0 0 4px var(--other-color);
  color: var(--branding-color);
}

.primary-link:hover {
  color: var(--other-color);
  box-shadow: 0 0 8px var(--other-color);
}

.about-section,
.work-section {
  padding: 40px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--default-font-family);
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}

.content p {
  text-align: justify;
  font-family: var(--paragraph-font-family);
  font-size: 18px;
}

.img-fluid {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px var(--other-color);
}

.about-section .certificates {
  transition: 100ms ease-in;
}

.about-section .certificates:hover {
  box-shadow: 0 0 14px var(--other-color);
  opacity: 90%;
}

.content h1 {
  font-size: 40px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-section a {
  text-decoration: none;
  color: var(--branding-color) !important;
  font-size: 24px;
  transition: 150ms ease-in;
}

.contact-section a:hover {
  color: white !important;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 2px;
}

.contact-footer {
  position: relative;
}

p.contact-footer {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  margin-bottom: -6px;
}
